<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新用户信息</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
<form method="post" th:action="@{/user}">
    <!--  将post请求转为put请求-->
    <input name="_method" type="hidden" value="PUT"/>
    <td><input name="id" th:value="${user.id}" type="hidden"></td>
    <table>
        <tr>
            <th colspan="2">update user</th>
        </tr>
        <tr>
            <td>id</td>
            <td><input disabled="disabled" th:value="${user.id}"></td>
        </tr>
        <tr>
            <td>username</td>
            <td>
                <input name="username" th:value="${user.username}" type="text"/>
            </td>
        </tr>
        <tr>
            <td>gender</td>
            <td>
                <input name="gender" th:field="${user.gender}" type="radio" value="male"/>male
                <input name="gender" th:field="${user.gender}" type="radio" value="female"/>female
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="update">
            </td>
        </tr>
    </table>
</form>
</body>
</html>